*{
  /* text-align: center; */
  font-family: Verdana, sans-serif;
}

ul{
  list-style: none;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 50px 0 0 0;
}

.topnav{
  top: 0;
  left: 0;
  background-color: white;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 2px 0 #888888;
}

.logo img {
  float: left;
  width: 208px;
  height: 55px;
  display: inline-block;
  margin-top: 4px;

}


.left li, .left li a{
  float: left;
  font-size: .95em;
  display: inline-block;
  margin: 1px 6px 0 6px;
  padding: 2px 0 10px 0;
}

.left li a {
  text-decoration: none;
  color: black;
}

.primarynav{
  padding-bottom:10px;
  background-image: linear-gradient(#000 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s;
}

.primarynav:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

.dropdown-keyboard{
  float: left;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #FFF;
  margin-top: 45px;
  max-width: 156px;
  margin-left: 5px;
  padding: 0;
  z-index: 1;
  line-height: 0.8em;
}

.dropdown-content li{
  float: none;
  width: 100%;
  padding: 13px 0 13px 0;
  margin: 0;
  text-align: left;
}

.dropdown-keyboard:hover .dropdown-content{
  display: block;
}

.dropdown-content li:hover{
  background-color: #ddd;
}

.right li{
  float: right;
  font-size: 0.9em;
  display: block;
  margin: 5px 8px;
}

#cart{
  color: black;
  text-decoration: none;
  margin: 3px 8px;
  padding: 10px 20px;
  border-radius: 8px;
  /* background-color: #0075FF; */
}

.badge{
  background-color: red;
  color: white;
  border-radius: 35px;
  font-size: 11px;
  margin-top: -30px;
  margin-left: 60px;
  min-width: 20px;
  padding: 2px;
  position: absolute;
  text-align: center;
}

.main{
  height: 72vh;
  box-shadow: 0 0 1px 0 #888888;
}

.bigProduct{
  margin: 10vh 0 0 5vw;
  float: left;
}

.bigProduct img{
  width: 31vw;
  /* border-radius: 17px; */
  border: 2px solid #8C8C8C;
  transition: width 0.6s ease, height 0.6s ease;
}

.bigProduct img:hover{
  width: 35vw;
  height: auto;
}

.multipleProducts{
  float: left;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.multipleProducts img{
  /* border-radius: 10px; */
  border: 1px solid #8C8C8C;
  margin: 0 15px;
  width: 6vw;
  height: 10vh;
}

.multipleProducts img:hover{
  border: 2px solid #8C8C8C;

}

@media screen and (max-width: 950px){
  .multipleProducts{
    visibility: hidden;
  }
}

h4{
  font-size: 20px;

}

.description{
  float: right;
  margin: 4vh 5vw 17vh 0;
  width: 34vw;
}


.description p{font-size: 26px;}

.description #features{
  font-size: 16px;
  font-weight: bold;
  color: #8C8C8C;
  margin-top: 50px;
}

.description ul{margin-left: -2px;}

.description li{
  font-size: 16px;
  padding: 4px 5px;
  margin: 3px;
  border: 2px solid;
  border-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) 1;
  animation: gradient 15s ease infinite;
  background-color: #EDEDED;
  display: inline-block;
  cursor: default;
}

button{
  text-align: center;
  border-radius: 8px;
  font-size: 20px;
  color: white;
  background-color: #0075FF;
  border: white;
  padding: 16px 32px;
}

button:hover{
  filter: brightness(110%);
  cursor: pointer;

}

button:active{
  filter: brightness(80%);
}


.description2{
  display: inline-block;
  width: 93.7vw;
  padding: 0 0 8vh 5vw;
  box-shadow: 0 1px 0.25px -0.25px #D8D8D8;
}

.description2 p{
  width: 55%;
  opacity: 65%;
}

.considered {
  display: inline-block;
  margin-left: 5vw;
  float: left;
}

.considered p{
  font-size: 40px;
  font-family: serif;
}

.considered a{
  text-decoration: none;
  color: black;
}

.card {
  display: flex;
  /* flex-direction: column; */
  gap: 15px;
  animation: slidein 0.5s;
}

.card li{
  margin-bottom: 10px;
}

/* @keyframes slidein{
  0%{margin-top: -30px; opacity: 30%;}
  100%{margin-top: 17px; opacity: 100%;}
} */

.consider img{
  max-width: 20vw;
  border-radius: 10px;
  border-bottom: 10px;
}

footer{
  margin-top: 10vh;
  display: inline-block;
  text-align: center;
  background-color: #DADADC;
  width: 100%;
  height: 40vh;
}

.summary{
  background-color: #DADADC;
}

.socials ul{
  list-style-type: none;
}

.socials li{
  display: inline-block;
  margin-top: 30px;
  width: 4%;
  margin: 50px 5px 0 5px;
}

.summary ul{
  list-style-type: none;
}

.summary li, .summary a{
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  color: black;
  margin: 0 5px;
}

footer p{
  font-size: 14px;
  opacity: 0.6;
}
